<h1>todoContainer.js</h1>
<pre><code class="lang-js"><span class="string">"use strict"</span>;
<span class="keyword">var</span> __extends = (<span class="keyword">this</span> &amp;&amp; <span class="keyword">this</span>.__extends) || <span class="function"><span class="keyword">function</span> <span class="params">(d, b)</span> {</span>
    <span class="keyword">for</span> (<span class="keyword">var</span> p <span class="keyword">in</span> b) <span class="keyword">if</span> (b.hasOwnProperty(p)) d[p] = b[p];
    <span class="function"><span class="keyword">function</span> <span class="title">__</span><span class="params">()</span> {</span> <span class="keyword">this</span>.constructor = d; }
    d.prototype = b === <span class="literal">null</span> ? Object.create(b) : (__.prototype = b.prototype, <span class="keyword">new</span> __());
};
<span class="keyword">var</span> React = require(<span class="string">"react"</span>);
<span class="keyword">var</span> list_1 = require(<span class="string">"./list"</span>);
<span class="keyword">var</span> form_1 = require(<span class="string">"./form"</span>);
<span class="keyword">var</span> indexPage_1 = require(<span class="string">"../../controller/todo/indexPage"</span>);
<span class="keyword">var</span> Top = (<span class="function"><span class="keyword">function</span> <span class="params">(_super)</span> {</span>
    __extends(Top, _super);
    <span class="function"><span class="keyword">function</span> <span class="title">Top</span><span class="params">(props)</span> {</span>
        _super.call(<span class="keyword">this</span>, props);
    }
    Top.prototype.componentDidMount = <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
        <span class="keyword">this</span>.getTodoList();
        <span class="keyword">this</span>.changeHandler();
    };
    Top.prototype.componentWillUnmount = <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
        <span class="keyword">this</span>.removeHandler();
    };
    Top.prototype.render = <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
        <span class="keyword">return</span> (React.createElement(<span class="string">"div"</span>, <span class="literal">null</span>, 
            React.createElement(list_1.List, {todos: <span class="keyword">this</span>.state.todoList}), 
            React.createElement(form_1.TodoForm, {addTodo: <span class="keyword">this</span>.addTodo.bind(<span class="keyword">this</span>)})));
    };
    <span class="keyword">return</span> Top;
}(indexPage_1.IndexPageController));
exports.Top = Top;
</code></pre>